/* | IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/* | CSS RESET  */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* | UTILITY CLSSES */
img {
	display: block;
}

.cp {
	cursor: pointer;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font: var(--btn-font);
}

li {
	list-style-type: none;
}

.mobile {
	display: none;
}

.order {
	order: 1;
}

/* | VARIABLES */
:root {
	/* | COLORS  */
	--dark-blue: hsl(233, 26%, 24%);
	--lime-green: hsl(136, 65%, 51%);
	--bright-cyan: hsl(192, 70%, 51%);
	--grayish-blue: hsl(233, 8%, 62%);
	--light-grayish-blue: hsl(220, 16%, 96%);
	--very-light-gray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);

	/* | FONTS  */
	--h1-font: 700 52px 'Public Sans';
	--h2-font: 700 38px 'Public Sans';
	--h3-font: 700 24px 'Public Sans';
	--h4-font: 700 16px 'Public Sans';
	--body-font: 400 18px 'Public Sans';
	--btn-font: 400 16px 'Public Sans';
	--gt-font: 400 14px 'Public Sans';
	--small-font: 400 11px 'Public Sans';
}

/* | GENERAL STYLES */
html {
	min-height: auto;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	font: var(--btn-font);
	color: var(--grayish-blue);
	background-color: var(--very-light-gray);
}

header {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background: var(--very-light-gray) url(img/bg-intro-desktop.svg) 640px -180px no-repeat;
	background-size: auto;
	overflow: hidden;
}

.nav {
	padding-inline: 165px;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--white);
	font: var(--btn-font);
	position: absolute;
	top: 0;
	z-index: 6;
}

img[alt='Easy Banking Logo'] {
	width: 140px;
}

.nav .nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

.nav-links li {
	padding-block: 30px;
}

.nav-links li:hover {
	color: var(--dark-blue);
	border-bottom: 3px solid var(--bright-cyan);
}

.r-invite {
	width: 160px;
	height: 45px;
	border-radius: 50px;
	background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
	color: var(--white);
}

.r-invite:nth-child(2) {
	margin-top: 8px;
}

.r-invite:hover {
	opacity: 0.8;
}

.header-section {
	padding-inline: 165px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}

.hero-img-section {
	height: 850px;
	margin-right: -165px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-img-section img[alt='Hero Image'] {
	width: 767px;
	height: auto;
	margin-right: -130px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
}

.header-article {
	width: 40%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: start;
	gap: 32px;
}

h1 {
	font: var(--h1-font);
	color: var(--dark-blue);
}

main {
	width: 100%;
	margin-top: -123px;
}

.main-section {
	padding: 80px 165px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	gap: 32px;
}

.main-section:first-child {
	gap: 75px;
	background-color: var(--light-grayish-blue);
}

.main-article {
	width: 55%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	gap: 32px;
}

h2 {
	font: var(--h2-font);
	color: var(--dark-blue);
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	min-height: 60px;
	grid-gap: 30px;
}

.grid li {
	border-radius: 5px;
	overflow: hidden;
}

.main-article + .grid li {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	gap: 32px;
}

.main-article + .grid img {
	width: 72px;
	height: auto;
	margin-bottom: 8px;
}

h3 {
	font: var(--h3-font);
	color: var(--dark-blue);
}

h2 + .grid li {
	background-color: var(--white);
}

h2 + .grid img {
	width: 100%;
}

h2 + .grid img:hover {
	animation: img-scale 1s forwards 0s ease-in-out;
}

@keyframes img-scale {
	33% {
		opacity: 0.8;
		transform: scale(1);
	}

	100% {
		opacity: 0.6;
		transform: scale(1.2);
	}
}

h2 + .grid li {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	gap: 8px;
}

.grid-text {
	padding: 24px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	gap: 12px;
	font: var(--gf-font);
}

.grid-text p:first-child {
	font: var(--small-font);
}

h4 {
	font: var(--h4-font);
	color: var(--dark-blue);
}

h4:hover {
	color: var(--bright-cyan);
	opacity: 0.5;
}

footer {
	width: 100%;
	padding: 48px 165px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--dark-blue);
	color: var(--white);
	font: var(--btn-font);
}

.footer-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 132px;
}

.footer-links ul {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
	gap: 18px;
}

ul.logo-ul {
	gap: 52px;
}

ul.socials {
	flex-flow: row;
	align-items: center;
	gap: 12px;
}

.socials li img:last-child {
	display: none;
}

.socials li:hover img:last-child {
	display: flex;
}

.socials li:hover img:first-child {
	display: none;
}

.footer-links li:not(:first-child) li:hover {
	color: var(--bright-cyan);
}

.request {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-end;
	gap: 30px;
}

.request p:first-child:hover {
	background: var(--bright-cyan);
	opacity: 0.9;
}

@media screen and (max-width: 1200px) {
	/* | GENERAL STYLES */

	header {
		background-position: 600px -270px;
	}

	.nav {
		padding-inline: 60px;
	}

	.nav .nav-links ul {
		gap: 20px;
	}

	.r-invite {
		width: 140px;
	}

	.header-section {
		padding-inline: 60px;
	}

	.hero-img-section {
		height: 575px;
		margin-right: -60px;
		top: -28px;
	}

	.hero-img-section img[alt='Hero Image'] {
		width: 500px;
		margin-right: -85px;
	}

	main {
		margin-top: -83px;
	}

	.main-section {
		padding: 60px;
	}

	footer {
		padding: 48px 60px;
	}

	.footer-links {
		gap: 50px;
	}
}

@media screen and (max-width: 900px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 50px;
	}
}

@media screen and (max-width: 750px) {
	/* | UTILITY CLSSES */
	.order {
		order: 0;
	}

	/* | VARIABLES */
	:root {
		/* | FONTS  */
		--h1-font: 700 76px 'Public Sans';
		--h2-font: 700 60px 'Public Sans';
		--h3-font: 700 40px 'Public Sans';
		--h4-font: 700 30px 'Public Sans';
		--body-font: 400 32px 'Public Sans';
		--btn-font: 400 32px 'Public Sans';
		--gt-font: 400 26px 'Public Sans';
		--small-font: 400 20px 'Public Sans';
	}

	/* | GENERAL STYLES */
	body {
		text-align: center;
	}

	header {
		padding-bottom: 180px;
		background: var(--very-light-gray) url(img/bg-intro-mobile.svg) center -40px
			no-repeat;
		background-size: contain;
	}

	.nav {
		padding-inline: 48px;
		height: 128px;
	}

	img[alt='Easy Banking Logo'] {
		width: 280px;
	}

	.nav .nav-links {
		width: calc(100% - 96px);
		padding: 70px;
		border-radius: 10px;
		background-color: var(--white);
		color: var(--dark-blue);
		display: none;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		gap: 56px;
		position: absolute;
		top: 176px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 5;
		opacity: 1;
		box-shadow: 0px 100px 500px 20px var(--dark-blue);
	}

	.nav.show-nav .nav-links {
		display: flex;
	}

	.nav.show-nav .mobile-icons img:last-child {
		display: flex;
	}

	.nav.show-nav .mobile-icons img:first-child {
		display: none;
	}

	.nav-links li {
		padding-block: 0;
	}

	.r-invite {
		width: 330px;
		height: 90px;
	}

	.r-invite:nth-child(3) {
		display: none;
	}

	.r-invite:nth-child(2) {
		margin-top: 24px;
	}

	.mobile-icons {
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.mobile-icons img {
		height: 100%;
		width: auto;
	}

	.mobile-icons > :last-child {
		display: none;
	}

	.header-section {
		padding-inline: 48px;
		flex-flow: column;
		justify-content: center;
		gap: 100px;
	}

	.hero-img-section {
		width: 100%;
		height: 688px;
		margin-right: -48px;
		margin-top: -48px;
	}

	.hero-img-section img[alt='Hero Image'] {
		width: 100%;
		margin-right: 0;
	}

	.header-article {
		width: 100%;
		align-items: center;
		gap: 48px;
	}

	main {
		margin-top: 0;
	}

	.main-section {
		padding: 0;
		align-items: center;
		gap: 60px;
	}

	.main-section:first-child {
		padding: 140px 48px;
		gap: 110px;
	}

	.main-section {
		padding: 180px 48px;
	}

	.main-article {
		width: 100%;
		align-items: center;
		gap: 48px;
	}

	.grid {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 48px;
	}

	.main-article + .grid {
		gap: 72px;
	}

	.grid li {
		border-radius: 10px;
	}

	.main-article + .grid li {
		align-items: center;
		gap: 48px;
	}

	.main-article + .grid img {
		width: 144px;
		margin-bottom: 12px;
	}

	h2 + .grid li {
		text-align: left;
		gap: 0;
	}

	.grid-text {
		padding: 64px;
		gap: 28px;
	}

	footer {
		padding: 80px 48px;
		flex-flow: column;
		justify-content: center;
		gap: 76px;
	}

	.footer-links {
		flex-flow: column;
		gap: 40px;
	}

	.footer-links ul {
		align-items: center;
		gap: 40px;
	}

	ul.logo-ul {
		gap: 64px;
		margin-bottom: 24px;
	}

	ul.socials {
		gap: 32px;
	}

	ul.socials img {
		width: 80px;
		height: auto;
	}

	.request {
		align-items: center;
		gap: 60px;
	}
}

@media screen and (max-width: 550px) {
	/* | VARIABLES */
	:root {
		/* | FONTS  */
		--h1-font: 700 57px 'Public Sans';
		--h2-font: 700 45px 'Public Sans';
		--h3-font: 700 30px 'Public Sans';
		--h4-font: 700 22px 'Public Sans';
		--body-font: 400 24px 'Public Sans';
		--btn-font: 400 24px 'Public Sans';
		--gt-font: 400 20px 'Public Sans';
		--small-font: 400 15px 'Public Sans';
	}

	/* | GENERAL STYLES */
	header {
		padding-bottom: 135px;
		background: var(--very-light-gray) url(img/bg-intro-mobile.svg) center -30px
			no-repeat;
		background-size: contain;
	}

	.nav {
		padding-inline: 36px;
		height: 96px;
	}

	.nav img[alt='Easy Banking Logo'] {
		width: 210px;
	}

	.nav .nav-links {
		padding: 52px;
		border-radius: 8px;
		gap: 42px;
		top: 140px;
	}

	.r-invite {
		width: 245px;
		height: 70px;
	}

	.r-invite:nth-child(2) {
		margin-top: 18px;
	}

	.mobile-icons {
		height: 24px;
	}

	.header-section {
		padding-inline: 36px;
		gap: 75px;
	}

	.hero-img-section {
		height: 416px;
		margin-right: -36px;
		margin-top: -36px;
	}

	.header-article {
		gap: 36px;
	}

	.main-section {
		gap: 45px;
	}

	.main-section:first-child {
		padding: 105px 36px;
		gap: 82px;
	}

	.main-section {
		padding: 135px 36px;
	}

	.main-article {
		gap: 36px;
	}

	.grid {
		grid-gap: 36px;
	}

	.main-article + .grid {
		gap: 54px;
	}

	.grid li {
		border-radius: 8px;
	}

	.main-article + .grid li {
		gap: 36px;
	}

	.main-article + .grid img {
		width: 108px;
		margin-bottom: 9px;
	}

	.grid-text {
		padding: 36px;
		gap: 21px;
	}

	footer {
		padding: 60px 36px;
		gap: 57px;
	}

	.footer-links {
		gap: 30px;
	}

	.footer-links ul {
		gap: 30px;
	}

	ul.logo-ul {
		gap: 48px;
		margin-bottom: 18px;
	}

	ul.socials {
		gap: 24px;
	}

	ul.socials img {
		width: 60px;
	}

	.request {
		gap: 45px;
	}
}

@media screen and (max-width: 375px) {
	/* | VARIABLES */
	:root {
		/* | FONTS  */
		--h1-font: 700 38px 'Public Sans';
		--h2-font: 700 30px 'Public Sans';
		--h3-font: 700 20px 'Public Sans';
		--h4-font: 700 15px 'Public Sans';
		--body-font: 400 16px 'Public Sans';
		--btn-font: 400 16px 'Public Sans';
		--gt-font: 400 13px 'Public Sans';
		--small-font: 400 10px 'Public Sans';
	}

	/* | GENERAL STYLES */
	header {
		padding-bottom: 90px;
		background: var(--very-light-gray) url(img/bg-intro-mobile.svg) center -20px
			no-repeat;
	}

	.nav {
		padding-inline: 24px;
		height: 64px;
	}

	.nav img[alt='Easy Banking Logo'] {
		width: 140px;
	}

	.nav .nav-links {
		padding: 35px;
		border-radius: 5px;
		gap: 28px;
		top: 88px;
	}

	.r-invite {
		width: 165px;
		height: 45px;
	}

	.r-invite:nth-child(2) {
		margin-top: 12px;
	}

	.mobile-icons {
		height: 18px;
	}

	.header-section {
		padding-inline: 24px;
		gap: 50px;
	}

	.hero-img-section {
		height: 344px;
		margin-right: -24px;
		margin-top: -24px;
	}

	.header-article {
		gap: 24px;
	}

	.main-section {
		gap: 30px;
	}

	.main-section:first-child {
		padding: 70px 24px;
		gap: 55px;
	}

	.main-section {
		padding: 90px 24px;
	}

	.main-article {
		gap: 24px;
	}

	.grid {
		grid-gap: 24px;
	}

	.main-article + .grid {
		gap: 36px;
	}

	.grid li {
		border-radius: 5px;
	}

	.main-article + .grid li {
		gap: 24px;
	}

	.main-article + .grid img {
		width: 72px;
		margin-bottom: 6px;
	}

	.grid-text {
		padding: 32px;
		gap: 14px;
	}

	footer {
		padding: 40px 24px;
		gap: 38px;
	}

	.footer-links {
		gap: 20px;
	}

	.footer-links ul {
		gap: 20px;
	}

	ul.logo-ul {
		gap: 32px;
		margin-bottom: 12px;
	}

	ul.socials {
		gap: 16px;
	}

	ul.socials img {
		width: 40px;
	}

	.request {
		gap: 30px;
	}
}
